<!DOCTYPE html>
<html>
<head>
<style>
    .container {
            max-width: 800px;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

    h1 {
        text-align: center;
    }

    body {
            font-family: 'Arial', sans-serif;
            background-color: #f9f9f9;
            color: #333;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            text-align: center;
        }

    table {
        border: 1px solid; 
        width: 60%;
        margin: 0 auto;
    }

    th {
        height: 30px;
        text-align: center;
        background-color: yellow;
    }

    b.red {
        color: orange;
    }

    .button {
        display: inline-block;
        background-color: purple;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }
    
    .button:hover {
            background-color: black;
        }
    
    .button2 {
        display: inline-block;
        background-color: black;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }

    .button-container {
        display: flex;
        justify-content: center;
    }
</style>
</head>
<body>
  <div class="container">
    <H1>Item State Result</H1>
        <p>Staff Name: <b><%= user.name %> </b>,  Staff ID: <b><%= user.id %></b>,  Login from <b><%= user.type %></b>, </p>
        <hr/>
    <b class="red"><%= message %></b>
    <div class="button-container">
        <p class="home"><a href="/" class="button">Home</a></p>
    </div>
    <div class="button-container">
        <p class="logout"><a href="/logout" class="button2">Logout</a></p>
    </div>
  </div>
</body>
</html>
