<html>
<head>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f9f9f9;
            color: #333;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            text-align: center;
        }
        
        .container {
            max-width: 800px;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        h1 {
            margin-bottom: 20px;
            text-align: center;
        }

        a {
            display: inline-block;
            text-decoration: none;
            background-color: #3b5998;
            color: white;
            padding: 10px 60px;
            border-radius: 5px;
            margin-top: 20px;
        }

        a:hover {
            background-color: #2d4373;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Restaurant Management Warehouse System </h1>
		<hr/>
		Please login your account to view more<br><br>
    <a href="/auth/facebook">Login through Facebook</a>
</div>
</body>
</html>
